<div class="ui container contain">
  <div class="top">
    <h2>Dashboard</h2>
    <app-button *ngIf="!isEmpty()"></app-button>
  </div>

  <p *ngIf="!isEmpty()" class="ui label">
    Drag and drop task items to change status
  </p>

  <div class="ui three column grid">
    <div class="column">
      <h3 class="ui label blue">New Task</h3>
      <div
        #newList="cdkDropList"
        class="custon-card"
        cdkDropList
        [cdkDropListData]="tasks['New Task']"
        [cdkDropListConnectedTo]="[inProgressList, doneList]"
        (cdkDropListDropped)="onDrop($event)"
      >
        @for (task of tasks['New Task']; track $index) {

        <div class="ui card" cdkDrag>
          <div class="header">{{ task.title }}</div>
          <div class="description content">{{ task.description }}</div>
        </div>
        }
      </div>
    </div>

    <div class="column">
      <h3 class="ui label orange">In Progress</h3>
      <div
        #inProgressList="cdkDropList"
        class="custon-card"
        cdkDropList
        [cdkDropListData]="tasks['In Progress']"
        [cdkDropListConnectedTo]="[newList, doneList]"
        (cdkDropListDropped)="onDrop($event)"
      >
        @for (task of tasks['In Progress']; track $index) {

        <div class="ui card" cdkDrag>
          <div class="header">{{ task.title }}</div>
          <div class="description content">{{ task.description }}</div>
        </div>
        }
      </div>
    </div>

    <div class="column">
      <h3 class="ui label teal">Done</h3>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="tasks['Done']"
        [cdkDropListConnectedTo]="[inProgressList, newList]"
        (cdkDropListDropped)="onDrop($event)"
        class="custon-card"
      >
        @for (task of tasks['Done']; track $index) {

        <div class="ui card" cdkDrag>
          <div class="header">{{ task.title }}</div>
          <div class="description content">{{ task.description }}</div>
        </div>
        }
      </div>
    </div>
  </div>

  <div *ngIf="isEmpty()" class="empty">
    <h3>You have not added any task</h3>
    <app-button></app-button>
  </div>
</div>
